body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
}
#header-section {
    height: 10%;
    background-color: #006B47;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header-section .h1-titlu {
    color: aquamarine;
    font-size: 2em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: capitalize;
}
#main-section {
    height: 80%;
    background-color: aquamarine;
}
#footer-section {
    height: 10%;
    background-color: aquamarine;
}